* {
  box-sizing: border-box;     
}

body{
 background: linear-gradient(100deg, rgba(137, 43, 226, 0.548), rgb(105, 231, 189));
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.head{
  width:80%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin:20px 20px;
}

.left{
  width:270px; 
  height: 660px;
  margin:30px 50px;
  border: 2px solid blueviolet;
  background-color: snow;
  border-radius: 40px;
  position: relative;
  box-shadow: 1px 5px 1px slateblue;
}

.head-song {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom:-40px;
  padding:10px;
}

.head-song h3{
  margin-top:20px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
}

.head-song span{
  opacity: 0.7;
  font-size:15px;
  font-weight:400;
}

.head-song img{
  border-radius: 50px;
  border: 2px solid slateblue;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom:-60px;
}

.btn button{
  width:90px;
  height: 25px;
  border-radius: 15px;
  margin: 0px 10px 30px 10px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 3px 0px slateblue;
}







.right{
  width:270px; 
  height: 660px;
  margin:30px 50px;
  border: 2px solid blueviolet;
  background-color: snow;
  box-shadow: 1px 5px 1px slateblue;
  border-radius: 40px;
  position: relative;

}

.right .head-song img{
  border: none;
  border-radius: 15px;
  margin: 50px 30px 20px 30px;
  box-shadow: 1px 5px 1px;
}

.right .head-song h3{
  font-size: 20px;
}

.right .head-song{
  flex-wrap: wrap;
}



.list{
  position: absolute;
  top:290px;
  overflow: hidden;
}
.user-component
.user-component__column:first-child{
  display: flex;
  align-items: center;
  position: relative;
}


.user-component__column{
  margin: 0px 20px 0px 20px;
  padding: 10px 0px;
}

.user-component span:last-child{
 position: absolute;
 right:5px;
 margin-right: 5px;
}

.user-component__column img{
  margin-right: 10px;
  border-radius: 15px;
}

.user-component__artist{
  opacity: 0.7;
  font-size:13px;
  font-weight:400;
  margin-bottom: 8px;
}

.user-component__song{
  font-size: 17px;
  font-weight: 530;
}


.user-component:nth-child(3){
  border:0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.4);
}

nav{
  position: absolute;
  width:100%;
  bottom: 0;
}


.nav__list{
  width:100%;
  padding:18px 15px;
  display: flex;
  justify-content: space-between;
  border: 0.5px solid slateblue;
  border-radius: 30px;
  background-color: snow;
  box-shadow: 0px 0px 2px 2px slateblue;
  
}

.nav__text{
  flex-direction: column;
  width: 70%;
}

.nav__text div:first-child{
 opacity: 0.7;
 font-size: 12px;
}

.nav__text div:last-child{
  font-weight: 500;
  font-size:15px;
}

.nav__btn{
  position: relative;
  left:-20x;
  bottom:-5px;
}

.play-song{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -85px;
}

.play-song__btn:nth-child(2){
  margin:0px 20px;
}