
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
}

body > div{
  width:100vh;
  height:200vh;
  border: 5px solid mediumturquoise;

}
.title{
  display: flex;
  justify-content: center;
}
.title__column{
  width:33%;
  padding: 45px 0px 25px 0px;
}
.title__column:first-child span{
  margin-left: 15px;
}

.title__column:nth-child(2){
  display: flex;
  justify-content: center;
}

.title__column:last-child{
  display: flex;
  justify-content: flex-end;
}
.play-song{
  display: flex;
  flex-wrap: wrap;
}
.play-song__image{
  padding:20px;
  border:2px solid black;
  border-radius: 15px;
  width:100px;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vh;
  background-color:rgb(247, 197, 36)
}
.play-song__title{
  margin: 0px 10px 0px 15px;
  font-size: 35px;
  width:80px;
}
#description{
  font-size:20px;
  position: relative;
  right: -140px;
  top:-20px;
}

form{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="submit"]{
  width:150px;
  height:50px;
  font-size: 20px;
  border-radius: 15px;
  background-color: transparent !important;
  margin-right: 5px;
  position: relative;
  right:40px;
}


#play{
  position: relative;
  right:-55px;
  font-size: 20px;
}
.fa-play{
  position: relative;
  right: -50px;
  bottom: 0px;
  margin-right: 5px;
}

input[type="button"]{
  border-radius: 100%;
  width:50px;
  height: 50px;
  position: relative;
  left:-40px;
  background-color: transparent !important;
}
.fa-heart{
  position: relative;
  left:-3px;
}
.fa-plus{
 position: relative;
 left:-5px;
}


.song-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20px;
}

.song-list__row >button{
  display:inline-block;
  width:60px;
  height:60px;
  border-radius: 15px;
  border: 3px solid black;
}
.song-list > div:nth-child(1)>button{
  background-color: tomato;
}
.song-list > div:nth-child(2)>button{
 background-color:hotpink
}
.song-list > div:nth-child(3)>button{
  background-color: blue;
}
.song-list > div:nth-child(4)>button{
 background-color: mediumturquoise;
}

.song-list__row{
  margin-bottom: 30px;
}

.song-list__row span{
  position: relative;
  top:-30px;
  right:-10px;
}
.song-list__row p{
  font-size:15px;
  font-weight: lighter;
  color:grey;
  position: relative;
  right:-80px;
  top:-20px;
}