* {
  box-sizing: border-box;
}

.head{
  background-color: aliceblue;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top:-10px;
}

.head .fas{
  margin:0px 15px 0px 15px;
}
.search{
  display: flex;
  justify-content: center;
}
.search input{
border:1px solid rgba(0,0,0, 0.2);
border-radius: 25px;
width:300px;
margin: 0px 10px;
padding:15px 15px;
outline:none;
position: relative;
top:-20px;
box-shadow: 0px 5px 0px rgba(0,0,0, 0.1);
}

.main{
  margin-left: 20px;
}

h2{
  font-size: 20px;
  font-weight:bold;
  margin-bottom: 15px;
  margin-top:5px;
}

.main__row{
  display: flex;
}

.main__row span{
  padding: 10px;
}
.main__row p:first-child{
  font-size:15px;
  font-weight:800;
  margin-bottom: 5px;
}
#shop-button{
  display: flex;
  align-items: center;
  margin-top:30px;
}
.main__row p:last-child{
  opacity: 0.3;
  margin-bottom:50px;
}
.main__row button{
  width:100px;
  margin:0px 30px;
  padding:10px 15px;
  border-radius: 25px;
}

.main__row:last-child {
  display:flex;
}

.main__row:last-child span{
  display: flex;
  flex-direction: column;
  position: relative;
  top:-10px;
}

h3{
  margin-bottom: 10px;
  font-weight:800;
  font-size: 15px;
}